:root {
  --primarybackground: #404040; 
  --primarydark: #181818;
  --enterprimary: #3fd568;
  --enterhover: #33b154;
  --entershadow: #2c8a46;
  --clearprimary: #ce3434;
  --clearhover: #b93030;
  --clearshadow: #8b2323;
  --accent: #775097;
  --accenttwo: #8c60af;
  --fontcolormain: #cfcfcf;
}